

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container { 
  display: flex;
  justify-content: center;
  align-items: center;
  .photo {
    width: 800;
    height: 854;
    
}
.right {
    width: 720;
    padding: 0 104px;

}
}






    

